@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 20px 100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
}

.title {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size:18px;
  color:white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

body {
  min-height: 100vh;
}

p {
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-top: 100px;
  flex-wrap: wrap;
}